



/* Image gallery */

.innerGalleryContainer {
    position: relative;
}

.galleryContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.galleryContainer img:last-child {
    /* important to overwrite inline css and prevent chrome flickering bug */
    margin-right: -1px !important;
}

.galleryContainer img:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    transition: all ease-out 0.2s;
    cursor: pointer;
}

.imagerow {
    margin-right: 1px;
    overflow: hidden;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.asyncLoadingContainer {
    position: absolute;
    background-color: transparent;
    height: 0px;
    width: 0px;
    bottom: 120px;
}
.gallerythumbnail {
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}