	<footer class="footer footer-white" *ngIf="!navbar">
		<div class="container">

			<ul class="pull-center">
				<li>
					<a routerLink="/">
						Tobbylineclicks
					</a>
				</li>
				<li>
					<a routerLink="/about">About Us</a>
				</li>
				<li>
					<a routerLink="/blog" >
					   Blog
					</a>
				</li>
				<li>
					Copyright © 2017
				</li>
			</ul>

			<ul class="social-buttons pull-right">
				<li>
					<a href="https://twitter.com/" target="_blank" class="btn btn-just-icon btn-simple btn-twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/tobbylineclicks/" target="_blank" class="btn btn-just-icon btn-simple btn-dribbble">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/tobbylineclicks/" target="_blank" class="btn btn-just-icon btn-simple btn-instagram">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
			</ul>

		</div>
	</footer>
