<app-header></app-header>

<div class="page-head" data-parallax="active" ></div>

<div class="main main-raised" style="background-color: #E5E5E5" [style.min-height.px]="innerHeight">
    <div class="section" style="padding-top: 15px">
		<div class="container">
			<div class="row">
				
				<div class="col-md-12" >
					<div class="row">
						<div *ngIf="loader" class="loader"></div>
						<div *ngIf="blog==''" class="text-center" style="color: red; top: 50%; left: 50%; position: fixed">{{er}}</div>
						<div class="col-md-4" *ngFor="let bl of blog " bl="selectedblog">
							
							<div class="card card-blog" >
								<div class="card-image">
									<a [routerLink]="['/blog',bl.id]" >
										<img class="img img-raised" src="{{bl.card_image}}" />
									</a>
								</div>

								<div class="content">
									<h6 class="category text-success">{{bl.category}}</h6>
									<h4 class="card-title" style="height: 60px">
										<a [routerLink]="['/blog',bl.id]">{{bl.title}}</a>
									</h4>
									<p class="card-description" >
                                       <span [innerHTML]="bl.mypreview"></span>
										    <a  [routerLink]="['/blog',bl.id]" >... Read More </a>
									</p>
								</div>
							</div>
						</div>


					</div> 

				</div>

			</div>
			<div class="text-center" *ngIf="next!=null">
				<button class="btn btn-info" (click)="loadmore(data)">
						Load More
				</button>
			</div>
		</div>
	</div>

</div>
<app-footer></app-footer>